<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Aplikasi membutuhkan akses kamera untuk merekam video log.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Aplikasi membutuhkan akses mikrofon untuk merekam audio.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Aplikasi menyimpan video hasil rekaman ke galeri.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
    </array>
</dict>
</plist>
